// base
@import "../base/colors.scss";
@import "../base/typography.scss";
// layout
@import "../layout/flex.scss";
@import "../layout/bg.scss";
// components
@import "../components/buttons.scss";
@import "../components/cards.scss";
@import "../components/images.scss";

.GuestLanding-container {
  @include bg-full-width;
  @include flex-center;
  background: linear-gradient(
    90deg,
    $hsg-1 0%,
    $hsg-2 50%,
    $hsg-3 75%,
    $hsg-4 100%
  );
  color: #ffffff;
}

.GuestLanding-card {
  @include login-card;
  background: linear-gradient(90deg, $hsg-1 -30%, $hsg-2 50%, $hsg-3 100%);
}
