$font-family: Open Sans, sans-serif;

// h1 font
@mixin h1-font {
  font-family: $font-family;
  font-size: 80px;
  font-weight: bolder;
  line-height: 1.1618em;
  letter-spacing: 0.03em;
}

// h2 font
@mixin h2-font {
  font-family: $font-family;
  font-size: 40px;
  line-height: 1.1618em;
  letter-spacing: 0.03em;
}

@mixin h3-font {
  font-family: $font-family;
  font-size: 30px;
  line-height: 1.1618em;
  letter-spacing: 0.03em;
}

// p font
@mixin p-font {
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.1618em;
  letter-spacing: 0.03em;
}
